# Secrets
*.pem
.env

# IDE
*.code-workspace
*.swp
*.swo
*~
.vscode/
.idea/

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
*.egg

# Virtual environments
.venv/
venv/

# OS
.DS_Store
Thumbs.db
.coverage
